@layer components {
  [data-component="logo-mark"] {
    width: 16px;
    aspect-ratio: 4 / 5;
  }

  [data-component="logo-splash"] {
    width: 80px;
    aspect-ratio: 4 / 5;
  }

  [data-component="logo"] {
    height: 24px;
    aspect-ratio: 234 / 42;
  }
}
